@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
main{
    font-family: 'Montserrat', sans-serif;
    margin: auto;;
    background: #252525;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 30px;
}
section{
    margin: 30px;
}
.number{
    color:white;
    font-weight:bolder;
    font-size: 30px;
    margin: 20px;
}
.text{
    color: #F1AD03;
    font-weight: bold;
    font-size: x-small;
}